# Dependencies
node_modules/
.pnp
.pnp.js

# Builds
dist/
build/
.svelte-kit/
*.tsbuildinfo

# Env & secrets
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
logs/

# Editor / OS
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# Data
postgres-data/
*.local
